* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.header {
    background-image: linear-gradient(to right top, #19468a, #254b99, #334fa8, #4353b7, #5556c5);
    height: 100px;
    width: 100%;
    border-bottom-left-radius: 10em;
    border-bottom-right-radius: 10em;
}
.logo {
    width: 80%;
    padding: 18px;
    margin: 0 auto;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Akshar', sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 50px;
}
.logo p {
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

.main {
    width: 100%;
}
.animation img {
    width: 380px;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.animation .container-eslogan {
    width: 90%;
    height: 100px;
    background-image: linear-gradient(to right top, #19468a, #254b99, #334fa8, #4353b7, #5556c5);
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.animation .container-eslogan p {
    font-family: 'Akshar', sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.main .container-enunciado1 {
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
}
.container-inf01 {
    width: 100%;
    height: 2500px;
    background-image: linear-gradient(to right top, #19468a, #254b99, #334fa8, #4353b7, #5556c5);
    position: relative;
}
.container-enunciado1 img {
    width: 300px;
}
.header-container-inf01 {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header-container-inf01 img {
    width: 750px;
    margin-top: -30px;
}
.container-text {
    width: 90%;
    height: 50px;
    padding: 20px;
    text-align: center;
}
.container-text p {
    font-family: 'Akshar', sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;

}
.container-plan {
    width: 90%;
    height: 80px;
    padding: 20px;
    text-align: center;
    
}
.container-plan p {
    font-family: 'Akshar', sans-serif;
    font-size: 40px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    
}
.container-panel1 {
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee9f3;
    margin: 0 auto;
    border-radius: 25px;
    transition-duration: 0.5s;
}
.container-panel1:hover {
    box-shadow: 5px 10px 30px 3px;
    transform: scale(1.03);
    transition-duration: 0.5s;   
}
.container-panel1:active {
    box-shadow: 5px 10px 30px 3px;
    transform: scale(1.03);
    transition-duration: 0.5s; 
}
.espacio {
    width: 100%;
    height: 50px;
}
.container-trafico {
    width: 90%;
    height: 90%;
    padding-left: 8px;
    padding-right: 8px;
}
.container-trafico h4 {
    color: #19468a;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family:  'Akshar', sans-serif;
    margin-top: 10px;
}
.container-trafico p {
    color: #19468a;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
    font-family:  'Akshar', sans-serif;
}
.container-trafico button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-family: 'Akshar', sans-serif;
    background-image: linear-gradient(to right top, #19468a, #254b99, #334fa8, #4353b7, #5556c5);   
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 20px;
    display: block;
    align-self: center;
    margin-top: 30px;
}

.container-trafico button:active {
    box-shadow: 5px 10px 30px 3px;
    transform: scale(1.1);
    transition-duration: 0.1s;
    color: white;   
}
.h4-unico2 {
    color: #19468a;
    text-align: center;
    line-height: 35px;
    font-size: 28px;
    font-weight: 400;
    font-family:  'Akshar', sans-serif;
}
.container-quien {
    font-family: 'Akshar', sans-serif;
    font-size: 40px;
    margin-top: 70px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.container-red {
    width: 100%;
    height: 50px;
    margin-top: 90px;
    
}
.container-red p {
    color: white;
    font-family: 'Akshar', sans-serif;
    font-size: 35px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.container-preguntas {
    width: 100%;
    height: 500px;
    position: relative;
}
.container-question {
    width: 80%;
    height: 60px;
    background-color: #eee9f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 20px;

}
.container-question img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.container-question p {
    color: #19468a;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 400;
    font-family:  'Akshar', sans-serif;
}
.container-info-respuestas {
    width: 90%;
    background-color: #eee9f3;
    position: absolute; 
    display: none;
    top: 0;
    bottom: 0;
    left: 5%;
    right: 0%;
    border-radius: 20px;
    transition-duration: 2s;

}
.container-info-respuestas p {
    color: #19468a;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 400;
    margin: 15px;
    font-family:  'Akshar', sans-serif;
    text-align: center;
}
.container-info-respuestas img {
    width: 25px;
    margin-left: 90%;
    margin-top: 10px;
}
